In [8]:
# import libraries

import numpy as numpy
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [4]:
# Read the cleaned dataset file

df = pd.read_csv("olxcleaned.csv")

In [5]:
df

,Make,Model,Year,KM's driven,Price,Fuel,Registration city,Car documents,Assembly,Transmission,Condition
0,Toyota,Passo,2021,54000,4190000,Petrol,Unregistered,Original,Imported,Automatic,Used
1,Suzuki,Ravi,2018,95000,1300000,Petrol,Karachi,Original,Local,Manual,Used
2,Suzuki,Bolan,2015,50000,800000,Petrol,Karachi,Original,Local,Manual,Used
3,Daihatsu,Move,2013,94000,2155000,Petrol,Lahore,Original,Imported,Automatic,Used
4,Suzuki,Swift,2011,126544,1440000,Petrol,Karachi,Original,Local,Manual,Used
...,...,...,...,...,...,...,...,...,...,...,...
9174,Suzuki,Wagon R,2014,115000,2725000,Petrol,Islamabad,Original,Imported,Automatic,Used
9175,Suzuki,Wagon R,2017,100000,1850000,Petrol,Lahore,Original,Local,Manual,Used
9176,KIA,Spectra,2001,123456,1100000,Petrol,Lahore,Original,Imported,Automatic,Used
9177,Suzuki,Alto,2009,89000,970000,Petrol,Lahore,Original,Imported,Manual,Used
9178,Daihatsu,Move,2016,95000,2050000,Petrol,Gujranwala,Original,Imported,Automatic,Used

Creating a Machine Learning Model which can Predict the Price of Second-Hand Cars.

Using Encoding Technique to encode the Categorical string data into numerical datatype

Since ML model will be predicting the Price of Cars, the Price column is Dependent variable and remaining all the columns will be considered as Independent variables.

In [6]:
# Creating a Machine Learning Model

# y = Price   (Dependent variable)
# X = Remaining all columns   (Independent variables)

# we have to create a Regression model

In [7]:
# Check unique values in Make column

df["Make"].unique()

array(['Toyota', 'Suzuki', 'Daihatsu', 'Honda', 'Hyundai', 'Mitsubishi',
       'KIA', 'Changan', 'FAW', 'Mercedes', 'Chevrolet'], dtype=object)

In [9]:
# Encode values in Make column

lb = LabelEncoder()
df["Make_Encode"] = lb.fit_transform(df["Make"])

Machine Learning model accepts only numerical data. Hence by using Encoding Techniques we have to convert the string data in our dataset to numerical data.

We have used Label encoding Technique to encode the string values in Make column to numerical data. 
Seperate column Make_Encode column has been created to store the encoded values.

In [28]:
# Encoding all the columns to convert string data into numerical data

lb = LabelEncoder()

feature = {}
for k in df.columns:
    if df[k].dtype == 'O':
        df[str(k)+"_Encode"] = lb.fit_transform(df[k])
        gt = {}
        ke = df[[k,str(k)+"_Encode"]].drop_duplicates()[str(k)+"_Encode"].values
        val = df[[k,str(k)+"_Encode"]].drop_duplicates()[k].values
        for i in range(len(ke)):
            gt[ke[i]] = val[i]
        feature[k] = gt